/* Body style*/
*{
  font-family: 'Roboto',sans-serif;
  font-size: 15px;

}
span{font-size: inherit;font-family: inherit;}


/* Text styling */
@font-face{
  font-family: 'Neoteric';
  src: url('../fonts/neoteric_regular.ttf');
}

@font-face{
  font-family: 'KineticPlasma';
  src: url('../fonts/HiTall.otf') format('opentype');
}

.text-justify{
  text-align: justify;
}

/* Margins,padding*/
.no-margin{
  margin:0 !important;
}
.no-margin-top{
  margin-top:0 !important;
}

.no-padding{
  padding: 0 !important;
}

/* Section, Banner*/
.section{
  margin-top: 20px;
  height: auto;
}


.section .title{
  display: block;
  text-align: left;
  color:#424242;
  font-size: 2.5rem;
  font-weight: 500;
  position: relative;
  padding: 8px 0;
  width: 100%;
  line-height: 2.25rem;
}
.section .sub-title{
  text-align: left;
  color:#959595;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  padding: 8px 0;
  margin-bottom: 20px;
  width: 100%;
}

.divider-section{
  padding: 15px;
  color:#424242;
}

.divider-section.small-section{
  min-height: 250px;
  padding: 4% 0 0 0;
}

.divider-section .title{
  color: #fff;
}

.section .content{
  margin-top: 20px;
}

/* Owl carousel*/
#recent-events .owl-carousel .card .card-content{
  padding: 15px;
  text-align: center;
}
#recent-events .owl-carousel .card .card-content .card-title{
  font-size: 19px;
}

#recent-events .owl-carousel .owl-item img{
  height: 220px;
}

.owl-theme .owl-nav [class*=owl-]{
  width: 27px;
  border-radius: 50%;

}

.owl-theme .owl-nav [class*=owl-]:hover{
  background-color: #f55;
}

/* Materialize editing */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 @media only screen and (min-width: 993px){
  .container{
    width: 70%;
  }
}

.deep-purple.custom-color{
  background: #7c2aee !important;
}




.primary-text{
  color: #f55;
}


.no-box-shadow{
  box-shadow: none;
}

/*.nav-wrapper{
  padding:0 15px;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

nav .brand-logo{
  font-family: 'Neoteric';
  font-weight: bold;
  }*/

  .nav-wrapper{
    height: 100px;
  }

  .nav-wrapper .side-nav-btn,.nav-wrapper .side-nav-btn i{
    height: 100px;
    line-height: 100px;
  }

  nav{
    height: 100px;
    line-height: 100px;
    box-shadow: none;
  }

  nav ul a,
  nav .brand-logo-text {
    color: #444;
  }

  nav .brand-logo-text{
    font-family: 'KineticPlasma';
    font-size: 2rem;
    font-weight: bold;
  }

  p {
    line-height: 2rem;
  }

  .parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
  .parallax-container .section {
    width: 100%;
  }

  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }

  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
  }

  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }

  footer.page-footer {
    margin: 0;
  }


  .background-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
  }

/*nav ul:not(.side-nav) a{
  height: 100px;
  border-bottom: 4px solid #fff;
  transition: all .2s;
}
nav ul:not(.side-nav) a:hover,nav ul:not(.side-nav) a.active{
  background:#fff;
  border-bottom: 4px solid #f55;
  }*/

  .carousel{
    height: calc(100vh - 64px) !important;
  }
  .carousel .carousel-text{
    position: absolute;
    top: 35%;
    left: 1.8%;
    right: auto;
    width: 96.6666666%;
  }

  .carousel-text .carousel-title{
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
  }

  .carousel-text .carousel-small-text{
    text-align: center;
    margin-top: 0;
  }


  .banner-logo{
    width: 100px;
  }

/**
*
* Home banner styling
*
**/
.splash{
  width: 100%;
  min-height:500px;
  overflow: hidden;

  background: #f44336;
  background: -moz-linear-gradient(-45deg, #f44336 0%, #f50057 99%);
  background: -webkit-linear-gradient(-45deg, #f44336 0%,#f50057 99%);
  background: linear-gradient(135deg, #f44336 0%,#f50057 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f44336', endColorstr='#f50057',GradientType=1 );
}
.splash .splash-title{
  font-size: 13rem;
  font-weight: 100;
  line-height: 13rem;
  margin-bottom: 20px;
  display: inline-block;
}
.splash .splash-text{
  padding: 0 15px;
  line-height: 1.5rem;
}
.splash .splash-title,.splash .splash-text{
  color:#fff;
}

/**
*
* Horizontal timeline styling
*
**/
.cd-horizontal-timeline ol li{
  list-style-type: none;
}
.cd-horizontal-timeline .events-content{
  max-width: 800px;
  margin: 2em auto;
}
.cd-horizontal-timeline .events-content ol{
  margin-top: 0;
  padding-left: 0;
}
.cd-horizontal-timeline .events-content ol li .timeline-title{
  color: #f50b52 !important;
  font-size: 1.5rem !important;
  margin: 20px 0 !important;
}

.cd-horizontal-timeline .events-content ol li .timeline-text{
  font-size: 1.1rem !important;
  font-weight: 400;
  text-align: justify;
}
.cd-horizontal-timeline .filling-line{
  background-color: #f50057;
}
.cd-horizontal-timeline .events a.older-event::after{
  border-color: #f50057;
}
.cd-horizontal-timeline .events a.selected::after{
  background-color: #f50057;
  border-color: #f50057;
}
.no-touch .cd-horizontal-timeline .events a:hover::after{
  background-color: #f50057;
  border-color: #f50057;
}
.no-touch .cd-timeline-navigation a:hover{
  border-color: #f50057;  
}
.cd-horizontal-timeline .events a{
  font-size: 0.8rem;
}
.cd-horizontal-timeline .timeline-img{
  border-radius: 10px;
  width: 100%;
  height: auto;
}

/**
*
* Diagonal Box styling
*
**/
/*.diagonal-box{
  height: 300px;
  padding-right: 100px !important;
  position: relative;
}
.diagonal-box:before{
  content: '';
  position: absolute;
  top: 0;
  left: -500%;
  height: 100%;
  width:500%;
}
.diagonal-box.deep-purple.custom-color:before{
  background: #7c2aee !important;
}
.diagonal-box.red.accent-3:before{
  background: #FF1744 !important;
}
.diagonal-box:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 300px solid #fff;
  border-left: 100px solid transparent;
  width: 0;
  height: 100%;
}
*/

/**
*
* Objectives section styling
*
*/
.objectives-icon{
  text-align: center;
  width: 90px;
}
.objectives-text{
  text-align: center;
}

/**
*
* Profile section styling
*
**/
.profile .profile-title{
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
  padding: 6px 0 0 0;
}
.profile .profile-sub-title{
  text-align: center;
  display: block;
  width: 100%;
}